@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Great+Vibes&display=swap');

.slider-image {
    max-height: 50vh !important;
    object-fit: contain;
}

.shadow-disable {
    box-shadow: unset !important;
    -webkit-box-shadow: unset !important;
}

.owl-carousel .owl-nav .disabled{
    /* visibility: hidden !important; */
    display: none !important;
}

.owl-next{
    display: none !important;
}
.owl-prev{
    display: none !important;
}

@media (min-width: 768px) {
.space-ptb{
    padding: 5vh 0 20vh 0 !important;
}}
@media (max-width: 767px) {
    .space-ptb{
        padding: 120px 0 !important;
    }
 
    .owl-carousel{
        min-height: 640px !important;
    }
}

.slider-text-content{
    float: none !important;
    margin: auto !important;
    
  
}

.slider-rounded{
    border-radius: 30px !important;
    border-color: transparent !important;
    text-align: center;
    align-items: center;
    height: 40vh !important;
    padding: 8vh 2vw !important;
}

.slider-rounded p{
    font-weight: bold;
}

@media (max-width: 780px) {
    .slider-rounded{
        height: 60vh !important;
    }
    .owl-carousel{
        margin-top: 5vh !important;
       
    }

    .owl-item{
        height: 95vh !important;
    }
}

.testimonial-item{
    margin-left: 10vw !important;
    margin-right: 10vw !important;
}

.testimonial-item h3{
    font-family: "Playwrite NZ", cursive !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    font-weight: 700 !important;
}

.testimonial-item h5{
    font-family: "Playwrite NZ", cursive !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    font-weight: 500 !important;
}

/* .testimonial-item h3{
    font-family: "Delicious Handrawn", cursive !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    font-weight: 900 !important;
}

.testimonial-item h6{
    font-family: "Delicious Handrawn", cursive !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    font-weight: 500 !important;
} */

/* .testimonial-item h1{
    font-family: "Great Vibes", cursive !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    font-weight: 400 !important;
}

.testimonial-item h3{
    font-family: "Great Vibes", cursive !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    font-weight: 500 !important;
} */